<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Grocery - 3 This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" color="light">
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="util.openSideMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title><b>Payroll</b></ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <div class="wishlist-screen">
    <div *ngIf="selected =='favourite'">
      <ion-row *ngFor="let item of util.productsList.slice(0,10);let i = index;" class="product-list-content"
        (click)="onProductInfo(item.name)">
        <ion-col size="3">
          <div class="product-image">
            <div class="product-cover-image" [ngStyle]="{'background-image': 'url('+item.images+')'}">
              <ion-label class="off-type">{{item.off}}% Off</ion-label>
              <ion-label class="out-off" *ngIf="i % 2 != 0">Out Of Stock</ion-label>
            </div>
          </div>
        </ion-col>
        <ion-col size="9">
          <div class="name-content">
            <div class="variatns">
              <ion-label class="lbl"> {{item.value}} </ion-label>
              <ion-label class="lbl">Wales</ion-label>
            </div>
            <ion-label class="name">{{item.name}}</ion-label>
            <ion-label class="price">
              <span class="active" *ngIf="item.off <= 0"> {{item.price}} </span>
              <span class="active" *ngIf="item.off > 0">₹{{getDiscountedPrice(item.price,item.off)}}</span>
              &nbsp;
              <span class="deactive" *ngIf="item.off > 0">₹{{item.price}}</span>
            </ion-label>
            <ion-icon name="heart" color="danger" class="heart-icon"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="selected =='recent'">
      <ion-row *ngFor="let item of util.productsList.slice(10,20);let i = index;" class="product-list-content"
        (click)="onProductInfo(item.name)">
        <ion-col size="3">
          <div class="product-image">
            <div class="product-cover-image" [ngStyle]="{'background-image': 'url('+item.images+')'}">
              <ion-label class="off-type">{{item.off}}% Off</ion-label>
              <ion-label class="out-off" *ngIf="i % 2 != 0">Out Of Stock</ion-label>
            </div>
          </div>
        </ion-col>
        <ion-col size="9">
          <div class="name-content">
            <div class="variatns">
              <ion-label class="lbl"> {{item.value}} </ion-label>
              <ion-label class="lbl">Wales</ion-label>
            </div>
            <ion-label class="name">{{item.name}}</ion-label>
            <ion-label class="price">
              <span class="active" *ngIf="item.off <= 0"> {{item.price}} </span>
              <span class="active" *ngIf="item.off > 0">₹{{getDiscountedPrice(item.price,item.off)}}</span>
              &nbsp;
              <span class="deactive" *ngIf="item.off > 0">₹{{item.price}}</span>
            </ion-label>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="selected =='view'">
      <ion-row *ngFor="let item of util.productsList.slice(20,30);let i = index;" class="product-list-content"
        (click)="onProductInfo(item.name)">
        <ion-col size="3">
          <div class="product-image">
            <div class="product-cover-image" [ngStyle]="{'background-image': 'url('+item.images+')'}">
              <ion-label class="off-type">{{item.off}}% Off</ion-label>
              <ion-label class="out-off" *ngIf="i % 2 != 0">Out Of Stock</ion-label>
            </div>
          </div>
        </ion-col>
        <ion-col size="9">
          <div class="name-content">
            <div class="variatns">
              <ion-label class="lbl"> {{item.value}} </ion-label>
              <ion-label class="lbl">Wales</ion-label>
            </div>
            <ion-label class="name">{{item.name}}</ion-label>
            <ion-label class="price">
              <span class="active" *ngIf="item.off <= 0"> {{item.price}} </span>
              <span class="active" *ngIf="item.off > 0">₹{{getDiscountedPrice(item.price,item.off)}}</span>
              &nbsp;
              <span class="deactive" *ngIf="item.off > 0">₹{{item.price}}</span>
            </ion-label>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="selected == 'wishlist'">
      <div class="main-title-header">
        <ion-label class="title">Food</ion-label>
        <ion-icon name="chevron-forward-outline" color="medium"></ion-icon>
      </div>
      <swiper-container #swiper slides-per-view="6" space-between="10">
        <swiper-slide *ngFor="let item of util.productsList.slice(0,4)" (click)="onProductInfo(item.name)">
          <div class="small-image">
            <div class="small-cover-image" [ngStyle]="{'background-image': 'url('+item.images+')'}"></div>
          </div>
        </swiper-slide>
      </swiper-container>

      <div class="main-title-header">
        <ion-label class="title">Wash</ion-label>
        <ion-icon name="chevron-forward-outline" color="medium"></ion-icon>
      </div>
      <swiper-container #swiper slides-per-view="6" space-between="10">
        <swiper-slide *ngFor="let item of util.productsList.slice(5,12)" (click)="onProductInfo(item.name)">
          <div class="small-image">
            <div class="small-cover-image" [ngStyle]="{'background-image': 'url('+item.images+')'}"></div>
          </div>
        </swiper-slide>
      </swiper-container>

      <div class="main-title-header">
        <ion-label class="title">Vegetable</ion-label>
        <ion-icon name="chevron-forward-outline" color="medium"></ion-icon>
      </div>
      <swiper-container #swiper slides-per-view="6" space-between="10">
        <swiper-slide *ngFor="let item of util.productsList.slice(12,20)" (click)="onProductInfo(item.name)">
          <div class="small-image">
            <div class="small-cover-image" [ngStyle]="{'background-image': 'url('+item.images+')'}"></div>
          </div>
        </swiper-slide>
      </swiper-container>

      <div class="main-title-header">
        <ion-label class="title">Drink</ion-label>
        <ion-icon name="chevron-forward-outline" color="medium"></ion-icon>
      </div>
      <swiper-container #swiper slides-per-view="6" space-between="10">
        <swiper-slide *ngFor="let item of util.productsList.slice(24,27)" (click)="onProductInfo(item.name)">
          <div class="small-image">
            <div class="small-cover-image" [ngStyle]="{'background-image': 'url('+item.images+')'}"></div>
          </div>
        </swiper-slide>
      </swiper-container>

    </div>

    <div *ngIf="selected =='notify'">
      <ion-row *ngFor="let item of util.productsList.slice(30,40);let i = index;" class="product-list-content"
        (click)="onProductInfo(item.name)">
        <ion-col size="3">
          <div class="product-image">
            <div class="product-cover-image" [ngStyle]="{'background-image': 'url('+item.images+')'}">
              <ion-label class="off-type">{{item.off}}% Off</ion-label>
              <ion-label class="out-off" *ngIf="i % 2 != 0">Out Of Stock</ion-label>
            </div>
          </div>
        </ion-col>
        <ion-col size="9">
          <div class="name-content">
            <div class="variatns">
              <ion-label class="lbl"> {{item.value}} </ion-label>
              <ion-label class="lbl">Wales</ion-label>
            </div>
            <ion-label class="name">{{item.name}}</ion-label>
            <ion-label class="price">
              <span class="active" *ngIf="item.off <= 0"> {{item.price}} </span>
              <span class="active" *ngIf="item.off > 0">₹{{getDiscountedPrice(item.price,item.off)}}</span>
              &nbsp;
              <span class="deactive" *ngIf="item.off > 0">₹{{item.price}}</span>
            </ion-label>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div> -->

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="selected =='wishlist'">
    <ion-fab-button (click)="addNewWishlist()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>