<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Grocery - 3 This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
  <!-- <ion-buttons slot="start">
      <ion-button color="primary" (click)="util.openSideMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->

<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" color="light">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="dark">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Claims</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="addData()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
      <ion-button color="dark" (click)="downloadExcel()" *ngIf="usergroupid==1">
        <ion-icon slot="icon-only" name="download-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="home-screen">  
    <ion-row>
      <ion-col size="12">
        <div class="flex items-center bg-gray-700 rounded-md shadow-md p-1 h-10">  
          <ion-icon (click)="prevMonth()" class="text-gray-500 text-lg ml-2 text-white" name="chevron-back-outline"></ion-icon>
          <span class="text-sm flex-1 px-1 py-1 text-white text-center">{{selectedComboMonth.name}}:&nbsp;&nbsp;&nbsp;{{startdate}} → {{enddate}}</span>                 
          <ion-icon (click)="nextMonth()" class="text-gray-500 text-lg mr-2 text-white" name="chevron-forward-outline">
          </ion-icon>
         </div>
      </ion-col>
    </ion-row>
      
     <ion-row *ngIf="config.user.id_usergroup==1">
      <ion-col size="12">
        <div class="flex items-center border border-gray-300 rounded-md shadow-md bg-white p-1 h-10">       
          <input [(ngModel)]="search" (keydown.enter)="loadData()" class="flex-1 px-2 py-1 text-gray-600 text-sm focus:outline-none" placeholder="Search Data" type="text"/>
          <ion-icon (click)="loadData()" class="text-gray-500 text-lg mr-2" name="search-outline">
          </ion-icon>
         </div>
      </ion-col>
     </ion-row>

    <ion-item-sliding *ngFor="let data of datasource">
      <!-- <ion-item-options side="end" (click)="deleteData(data)">
        <ion-item-option color="danger">
          Delete
        </ion-item-option>
      </ion-item-options> -->
      <ion-item-options side="start">
        <ion-item-option color="warning" *ngIf="data.joingaji==0" (click)="approvedData(data.ad_id)">
          Join Payroll
        </ion-item-option>        
      </ion-item-options>

      <ion-item-options side="end">        
        <ion-item-option color="danger" *ngIf="data.status_deleted==0"  (click)="deleteData(data.ad_id)">
          Reject
        </ion-item-option>
      </ion-item-options>
    
      <ion-item class="m-1 rounded-md shadow-md">
        <ion-col size="8" (click)="editData(data)">
          <div class="flex-1">
            <h2 class="text-lg font-bold">
             {{data.employee.name}}
            </h2>
            <p class="text-sm text-gray-600">
             {{data.nip}} - {{data.tdate}} 
            </p>
            <p class="text-sm text-gray-600">
             {{data.description}}
            </p>           
           </div>
        </ion-col>
        <ion-col size="4">
          <div class="flex flex-col items-center space-y-2">
            <span *ngIf="data.status_deleted==1" class="bg-red-100 text-red-800 text-sm font-semibold px-2 py-1 rounded-full">
              Rejected
             </span>
             <span *ngIf="data.joingaji==1" class="bg-green-100 text-green-800 text-sm font-semibold px-2 py-1 rounded-full">
              Payroll
             </span>
            <!-- <span (click)="editData(data)" class="bg-green-100 text-green-800 text-sm font-semibold px-2 py-1 rounded-full">
             {{data.leavetype.name}}
            </span>
            <span *ngIf="data.status=='APPROVED'" (click)="editData(data)" class="bg-green-100 text-green-800 text-sm font-semibold px-2 py-1 rounded-full">
              APPROVED
             </span>
             <span *ngIf="data.status=='CANCEL'" (click)="editData(data)" class="bg-red-100 text-red-800 text-sm font-semibold px-2 py-1 rounded-full">
              REJECTED
             </span>
             <span *ngIf="data.status=='ENTRY' && data.annualleave==1 && config.user.id_usergroup!=1" (click)="editData(data)" class="bg-yellow-100 text-yellow-800 text-sm font-semibold px-2 py-1 rounded-full">
              Waiting Approval
             </span>
            <div class="flex space-x-2" *ngIf="data.annualleave==1 && data.status=='ENTRY' && config.user.id_usergroup==1">
             <ion-icon class="text-green-500 text-4xl" name="checkmark-circle" (click)="approvedData(data.tcuti_id)">
             </ion-icon>
             <ion-icon class="text-red-500 text-4xl" name="close-circle" (click)="cancelData(data.tcuti_id)">
             </ion-icon>
            </div> -->
           </div>
        </ion-col>      
      </ion-item>      
    </ion-item-sliding>   

    <!-- <ion-item-sliding>
      <ion-item-options side="end">
        <ion-item-option color="danger">
          Delete
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="start">
        <ion-item-option color="danger">
          Delete
        </ion-item-option>
      </ion-item-options>
    
      <ion-item>
        <ion-col size="8">
          <div class="flex-1">
            <h2 class="text-lg font-bold">
             Ari Purniawan
            </h2>
            <p class="text-sm text-gray-600">
             1006 - DIRECTOR 
            </p>
            <p class="text-sm text-gray-600">
             19.12.2024 - 19.12.2024
            </p>           
           </div>
        </ion-col>
        <ion-col size="4">
          <div class="flex flex-col items-center space-y-2">
            <span class="bg-green-100 text-green-800 text-sm font-semibold px-2 py-1 rounded-full">
             Sick
            </span>
           </div>
        </ion-col>      
      </ion-item>      
    </ion-item-sliding>    -->

  </div>
</ion-content>

