<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Grocery - 3 This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" color="dark">
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="util.openSideMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="home-screen">
    <div class="slider">
      <swiper-container #swiper slides-per-view="1.2" centered-slides="true" space-between="10" initial-slide="1">
        <swiper-slide *ngFor="let item of util.slidersList">
          <div class="slide-image" [ngStyle]="{'background-image': 'url('+item+')'}" (click)="onTopProduct('Offers')">
          </div>
        </swiper-slide>
      </swiper-container>
    </div>


    <div class="categories">
      <swiper-container #swiper slides-per-view="4" space-between="10">
        <swiper-slide *ngFor="let item of util.cateList">
          <div class="category-content" (click)="onProductList(item.name,item.image)">
            <div class="cover">
              <img [src]="item.image" alt="" class="img">
            </div>
            <ion-label class="name">{{item.name}}</ion-label>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>

    <div class="main-title">
      <div class="prefix">
        <ion-label class="title">Bakery</ion-label>
        <ion-label class="sub-title">Great bread selections for any meal</ion-label>
      </div>
      <ion-icon name="chevron-forward-outline" (click)="onTopProduct('Bakery')"></ion-icon>
    </div>

    <swiper-container #swiper slides-per-view="2.3" space-between="10">
      <swiper-slide *ngFor="let item of util.productsList.slice(5,15);let i = index;">
        <div class="product-info-slide">
          <div class="product-image" (click)="onProductInfo(item.name)">
            <div class="product-cover-image" [ngStyle]="{'background-image': 'url('+item.images+')'}">
              <ion-label class="off-type">{{item.off}}% Off</ion-label>
              <ion-label class="out-off" *ngIf="i % 2 != 0">Out Of Stock</ion-label>
            </div>
          </div>
          <div class="variatns" (click)="onProductInfo(item.name)">
            <ion-label class="lbl"> {{item.value}} </ion-label>
            <ion-label class="lbl">Wales</ion-label>
          </div>
          <ion-label class="name" (click)="onProductInfo(item.name)">{{item.name}}</ion-label>
          <ion-label class="price">
            <span class="active" *ngIf="item.off <= 0"> {{item.price}} </span>
            <span class="active" *ngIf="item.off > 0">₹{{getDiscountedPrice(item.price,item.off)}}</span>
            &nbsp;
            <span class="deactive" *ngIf="item.off > 0">₹{{item.price}}</span>
          </ion-label>

          <ion-button expand="block" fill="solid" color="dark" size="small"
            *ngIf="i % 2 == 0 && !cartList.includes(item.name)" (click)="addToCart(item.name)">
            <ion-icon slot="start" name="add" color="primary"></ion-icon>
            Add to cart
          </ion-button>
          <div class="cart-btn" *ngIf="i % 2 == 0 && cartList.includes(item.name)">
            <ion-icon name="remove-outline"></ion-icon>
            <ion-label class="lbl">1</ion-label>
            <ion-icon name="add-outline"></ion-icon>
          </div>
          <ion-button expand="block" fill="outline" color="dark" size="small" *ngIf="i % 2 != 0">
            <ion-icon slot="start" name="notifications-outline"></ion-icon>
            Notify me
          </ion-button>
        </div>
      </swiper-slide>
    </swiper-container>

    <div class="main-title">
      <div class="prefix">
        <ion-label class="title">Fresh Vegetables</ion-label>
        <ion-label class="sub-title">Great bread selections for any meal</ion-label>
      </div>
      <ion-icon name="chevron-forward-outline" (click)="onTopProduct('Fresh Vegetables')"></ion-icon>
    </div>

    <swiper-container #swiper slides-per-view="2.3" space-between="10">
      <swiper-slide *ngFor="let item of util.productsList.slice(15,25);let i = index;">
        <div class="product-info-slide">
          <div class="product-image" (click)="onProductInfo(item.name)">
            <div class="product-cover-image" [ngStyle]="{'background-image': 'url('+item.images+')'}">
              <ion-label class="off-type">{{item.off}}% Off</ion-label>
              <ion-label class="out-off" *ngIf="i % 2 != 0">Out Of Stock</ion-label>
            </div>
          </div>
          <div class="variatns" (click)="onProductInfo(item.name)">
            <ion-label class="lbl"> {{item.value}} </ion-label>
            <ion-label class="lbl">Wales</ion-label>
          </div>
          <ion-label class="name" (click)="onProductInfo(item.name)">{{item.name}}</ion-label>
          <ion-label class="price">
            <span class="active" *ngIf="item.off <= 0"> {{item.price}} </span>
            <span class="active" *ngIf="item.off > 0">₹{{getDiscountedPrice(item.price,item.off)}}</span>
            &nbsp;
            <span class="deactive" *ngIf="item.off > 0">₹{{item.price}}</span>
          </ion-label>

          <ion-button expand="block" fill="solid" color="dark" size="small"
            *ngIf="i % 2 == 0 && !cartList.includes(item.name)" (click)="addToCart(item.name)">
            <ion-icon slot="start" name="add" color="primary"></ion-icon>
            Add to cart
          </ion-button>
          <div class="cart-btn" *ngIf="i % 2 == 0 && cartList.includes(item.name)">
            <ion-icon name="remove-outline"></ion-icon>
            <ion-label class="lbl">1</ion-label>
            <ion-icon name="add-outline"></ion-icon>
          </div>
          <ion-button expand="block" fill="outline" color="dark" size="small" *ngIf="i % 2 != 0">
            <ion-icon slot="start" name="notifications-outline"></ion-icon>
            Notify me
          </ion-button>
        </div>
      </swiper-slide>
    </swiper-container>

    <div class="main-title">
      <div class="prefix">
        <ion-label class="title">Featured Brands</ion-label>
      </div>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>

    <div class="brands-list">
      <swiper-container #swiper slides-per-view="4.5" space-between="10">
        <swiper-slide *ngFor="let item of util.brandsList">
          <div class="brands" (click)="onProductList(item.name,item.image)">
            <img [src]="item.image" alt="" class="img">
          </div>
        </swiper-slide>
      </swiper-container>
    </div>

    <div class="main-title">
      <div class="prefix">
        <ion-label class="title">Best Selling</ion-label>
        <ion-label class="sub-title">Great bread selections for any meal</ion-label>
      </div>
      <ion-icon name="chevron-forward-outline" (click)="onTopProduct('Best Selling')"></ion-icon>
    </div>

    <swiper-container #swiper slides-per-view="2.3" space-between="10">
      <swiper-slide *ngFor="let item of util.productsList.slice(25,35);let i = index;">
        <div class="product-info-slide">
          <div class="product-image" (click)="onProductInfo(item.name)">
            <div class="product-cover-image" [ngStyle]="{'background-image': 'url('+item.images+')'}">
              <ion-label class="off-type">{{item.off}}% Off</ion-label>
              <ion-label class="out-off" *ngIf="i % 2 != 0">Out Of Stock</ion-label>
            </div>
          </div>
          <div class="variatns" (click)="onProductInfo(item.name)">
            <ion-label class="lbl"> {{item.value}} </ion-label>
            <ion-label class="lbl">Wales</ion-label>
          </div>
          <ion-label class="name" (click)="onProductInfo(item.name)">{{item.name}}</ion-label>
          <ion-label class="price">
            <span class="active" *ngIf="item.off <= 0"> {{item.price}} </span>
            <span class="active" *ngIf="item.off > 0">₹{{getDiscountedPrice(item.price,item.off)}}</span>
            &nbsp;
            <span class="deactive" *ngIf="item.off > 0">₹{{item.price}}</span>
          </ion-label>

          <ion-button expand="block" fill="solid" color="dark" size="small"
            *ngIf="i % 2 == 0 && !cartList.includes(item.name)" (click)="addToCart(item.name)">
            <ion-icon slot="start" name="add" color="primary"></ion-icon>
            Add to cart
          </ion-button>
          <div class="cart-btn" *ngIf="i % 2 == 0 && cartList.includes(item.name)">
            <ion-icon name="remove-outline"></ion-icon>
            <ion-label class="lbl">1</ion-label>
            <ion-icon name="add-outline"></ion-icon>
          </div>
          <ion-button expand="block" fill="outline" color="dark" size="small" *ngIf="i % 2 != 0">
            <ion-icon slot="start" name="notifications-outline"></ion-icon>
            Notify me
          </ion-button>
        </div>
      </swiper-slide>
    </swiper-container>

    <ion-row class="banner-section">
      <ion-col size="4">
        <img src="assets/images/images/social-network.png" alt="" class="img">
      </ion-col>
      <ion-col size="8">
        <ion-label class="title">Earn up to ₹560</ion-label>
        <ion-label class="sub-title">Shopping with friends is more fun!</ion-label>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer *ngIf="cartList?.length">
  <ion-toolbar color="dark">
    <div class="home-cart-btn">
      <ion-label class="prefix"> <ion-icon name="checkmark-outline" color="light"></ion-icon> &nbsp; Added
        ({{cartList.length}}) to Cart</ion-label>
      <ion-label class="postfix" (click)="onCart()">View Cart <ion-icon name="chevron-forward-outline"
          color="primary"></ion-icon></ion-label>
    </div>
  </ion-toolbar>
</ion-footer>