<ion-header>
</ion-header>

<ion-content>
  <div class="profile-card-div">
    <ion-card class="home-card">
      <div class="home-header">
        <img src="{{blackLogo}}" class="whiteLogo slide-in">
      </div>
    </ion-card>
  </div>
  <div class="home-data-card">
    <div class="head-div">
      <h2 class="login"> FORGOT PASSWORD</h2>
    </div>
    <form (ngSubmit)="forgotPassword()" [formGroup]="forgotpasswordForm">
      <ion-list class="login-box">
        <ion-item detail class="login-item">
          <span slot="start" class="custom-icon-personal-info-icon"></span>
          <ion-input type="text" class="loginInput" placeholder="Username or Email" formControlName="username" required>
          </ion-input>
        </ion-item>
        <ion-button expand="block" class="loginButton" type="submit">Reset Password </ion-button>
        <h3 class="forgotPasswordBack" (click)="backToLogin()">Back To Login</h3>
      </ion-list>
    </form>
  </div>
</ion-content>