/mobile/node_modules
/mobile/www
/backend/node_modules
/frontend/node_modules
/frontend/.angular
/frontend/www
/mobile_new/node_modules
/mobile_new/.angular
/mobile_new/www
/desktop/__history
/desktop/Win32/Debug/Sinar.exe
/backend/uploads
/backend2/node_modules
