<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" color="dark">
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="util.openSideMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Check Attendance</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar mode="ios">
    <ion-segment [(ngModel)]="segment" mode="md">
      <ion-segment-button value="checkin">
        <ion-label>Check In</ion-label>
      </ion-segment-button>
      <ion-segment-button value="checkout">
        <ion-label>Check Out</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="category-screen">
    <div *ngIf="segment == 'checkin'">
      <ion-row *ngIf="showImage">
        <ion-col size="12">
          <div id="cameraPreview" style="width: 100%; height: auto;"></div>
        </ion-col>
      </ion-row>

      <!-- <ion-row>
        <ion-col size="12" >
          <ion-button expand="full" (click)="openCamera()">Open Camera</ion-button>     
          <ion-button expand="full" (click)="stopCamera()">Stop Camera</ion-button>     
          <ion-button expand="full" (click)="takePicture()">Take Picture</ion-button>     
        </ion-col>
      </ion-row> -->
<!--       
      <ion-row *ngIf="showImage">
        <ion-col size="12" >
          <video #videoElement style="width: 100%; height: auto;" autoplay></video>          
        </ion-col>
      </ion-row>
      <ion-row *ngIf="showImage">
        <ion-col size="12" >
          <ion-button expand="full" (click)="checkin()">Check In</ion-button>     
        </ion-col>
      </ion-row> -->

      <ion-row *ngIf="!showImage">
        <ion-col size="12" >
          <img src="assets/images/images/like.png" alt="Checklist" style="width: 100px; height: auto; margin-bottom: 10px;" />
          <h2>Check In Success</h2>
          <h2>Selamat Datang {{recognizedNames}}</h2>
          <p>Lokasi Anda: {{userLocation.fullAddress}}</p>
          <ion-button (click)="reCheckIn()" expand="full" color="primary">Re Check In</ion-button>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="segment == 'checkout'">
      <ion-row>
        <ion-col size="12" >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" >          
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>