<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Grocery - 3 This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="onClose('close')" color="primary">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="brands-screen">
    <div class="brand-wallpaper" [ngStyle]="{'background-image': 'url(assets/images/slider/2.png)'}"></div>

    <div class="brand-info-section">
      <div class="brand-cover" [ngStyle]="{'background-image': 'url('+image+')'}"></div>
      <div class="name-content">
        <ion-label class="name"> {{name}} </ion-label>
        <ion-label class="sub-title">Retail products</ion-label>
      </div>
    </div>

    <ion-label class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
      been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
      scrambled it to make a type specimen book.</ion-label>
    <ion-label class="desc">It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.</ion-label>
    <ion-label class="desc">It is a long established fact that a reader will be distracted by the readable content of a
      page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
      of letters, as opposed to using 'Content here, content here', making it look like readable English.</ion-label>
    <ion-label class="desc">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default
      model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions
      have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the
      like).</ion-label>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="onClose('products')" expand="block" fill="solid" color="dark">
      View products
    </ion-button>
  </ion-toolbar>
</ion-footer>