<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" color="light">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="dark">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Leave</ion-title>
    <ion-buttons slot="end" class="mr-2">
      <ion-button color="dark" (click)="downloadExcel()">
        <ion-icon slot="icon-only" name="download-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">      
      <ion-button color="dark" (click)="addData()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>      
    </ion-buttons>
    
  </ion-toolbar>

  <ion-toolbar color="dark" mode="ios">
    <ion-segment color="light" [(ngModel)]="segment" mode="md" (onChange)="onSegmentChange()"    >
      <ion-segment-button value="transaction">
        <ion-label>Transaction</ion-label>
      </ion-segment-button>      
      <ion-segment-button value="summary">
        <ion-label>Summary</ion-label>
      </ion-segment-button>      
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="segment == 'transaction'">
      <div class="home-screen">  
        <ion-row>
          <ion-col size="12">
            <div class="flex items-center bg-gray-700 rounded-md shadow-md p-1 h-10">  
              <ion-icon (click)="prevMonth()" class="text-gray-500 text-lg ml-2 text-white" name="chevron-back-outline"></ion-icon>
              <span class="text-sm flex-1 px-1 py-1 text-white text-center">{{selectedComboMonth.name}}:&nbsp;&nbsp;&nbsp;{{startdate}} → {{enddate}}</span>                 
              <ion-icon (click)="nextMonth()" class="text-gray-500 text-lg mr-2 text-white" name="chevron-forward-outline">
              </ion-icon>
            </div>
          </ion-col>
        </ion-row>
          
        <ion-row *ngIf="config.user.id_usergroup==1">
          <ion-col size="12">
            <div class="flex items-center border border-gray-300 rounded-md shadow-md bg-white p-1 h-10">       
              <input [(ngModel)]="search" (keydown.enter)="loadData()" class="flex-1 px-2 py-1 text-gray-600 text-sm focus:outline-none" placeholder="Search Data" type="text"/>
              <ion-icon (click)="loadData()" class="text-gray-500 text-lg mr-2" name="search-outline">
              </ion-icon>
            </div>
          </ion-col>
        </ion-row>


        <ion-item-sliding *ngFor="let data of datasource">
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="deleteData(data)">
              Delete
            </ion-item-option>
          </ion-item-options>
          <ion-item-options side="start">        
          </ion-item-options>
        
          <ion-item class="m-1 rounded-md shadow-md">
            <ion-col size="8" (click)="editData(data)">
              <div class="flex-1">
                <h2 class="text-lg font-bold">
                {{data.name}}
                </h2>
                <p class="text-sm text-gray-600">
                {{data.nip}} - {{data.position.name}} 
                </p>
                <p class="text-sm text-gray-600">
                {{data.startdate}} - {{data.enddate}}
                </p>           
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="flex flex-col items-center space-y-2">
                <span (click)="editData(data)" class="bg-green-100 text-green-800 text-sm font-semibold px-2 py-1 rounded-full">
                {{data.leavetype.name}}
                </span>
                <span *ngIf="data.status=='APPROVED'" (click)="editData(data)" class="bg-green-100 text-green-800 text-sm font-semibold px-2 py-1 rounded-full">
                  APPROVED
                </span>
                <span *ngIf="data.status=='CANCEL'" (click)="editData(data)" class="bg-red-100 text-red-800 text-sm font-semibold px-2 py-1 rounded-full">
                  REJECTED
                </span>
                <span *ngIf="data.status=='ENTRY' && data.annualleave==1 && config.user.id_usergroup!=1" (click)="editData(data)" class="bg-yellow-100 text-yellow-800 text-sm font-semibold px-2 py-1 rounded-full">
                  Waiting Approval
                </span>
                <div class="flex space-x-2" *ngIf="data.annualleave==1 && data.status=='ENTRY' && config.user.id_usergroup==1">
                <ion-icon class="text-green-500 text-4xl" name="checkmark-circle" (click)="approvedData(data.tcuti_id)">
                </ion-icon>
                <ion-icon class="text-red-500 text-4xl" name="close-circle" (click)="cancelData(data.tcuti_id)">
                </ion-icon>
                </div>
              </div>
            </ion-col>      
          </ion-item>      
        </ion-item-sliding>   

      </div>
  </div>

  <div *ngIf="segment == 'summary'">
        <ion-row>
          <ion-col size="12">
            <div class="flex items-center bg-gray-700 rounded-md shadow-md p-1 h-10">  
              <ion-icon (click)="prevYear()" class="text-gray-500 text-lg ml-2 text-white" name="chevron-back-outline"></ion-icon>
              <span class="text-sm flex-1 px-1 py-1 text-white text-center">{{selectedYear}}</span>                 
              <ion-icon (click)="nextYear()" *ngIf="currentYear!=selectedYear" class="text-gray-500 text-lg mr-2 text-white" name="chevron-forward-outline">
              </ion-icon>
            </div>
          </ion-col>
        </ion-row>
          
        <ion-row *ngIf="config.user.id_usergroup==1" class="mb-2">
          <ion-col size="12">
            <div class="flex items-center border border-gray-300 rounded-md shadow-md bg-white p-1 h-10">       
              <input [(ngModel)]="search" (keydown.enter)="loadDataSummary()" class="flex-1 px-2 py-1 text-gray-600 text-sm focus:outline-none" placeholder="Search Data" type="text"/>
              <ion-icon (click)="loadDataSummary()" class="text-gray-500 text-lg mr-2" name="search-outline">
              </ion-icon>
            </div>
          </ion-col>
        </ion-row>

        <div *ngFor="let emp of datasourceSummary" class="mb-4 ml-1 mr-1">
          <div class="bg-white shadow rounded-2xl p-4">
            <div class="text-lg font-semibold text-gray-800 mb-1">{{ emp.name }}</div>
            <div class="text-sm text-gray-500 mb-2">{{ emp.position }}</div>
            <div class="text-sm text-gray-500 mb-2">Periode: {{ emp.periode }}</div>

            <div class="grid grid-cols-2 gap-3 text-sm mt-3">
              <div><span class="font-medium mr-1">Total Leave:</span> {{ emp.totalleave }}</div>
              <div><span class="font-medium mr-1">Leave Taken:</span> {{ emp.takenleave }}</div>
              <div><span class="font-medium mr-1">Sick:</span> {{ emp.sick }}</div>
              <div><span class="font-medium mr-1">Permit:</span> {{ emp.permit }}</div>
              <div><span class="font-medium mr-1">Public Leave:</span> {{ emp.publicleave }}</div>
              <div><span class="font-medium text-green-600 mr-1">Available:</span> <span class="text-green-600 font-bold">{{ emp.availableleave }}</span></div>
            </div>
          </div>
        </div>
   </div>
</ion-content>

