<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Grocery - 3 This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu *ngIf="data.isAuthenticated" contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar color="dark">
          <ion-item lines="none" class="sidemenu-item-content" (click)="onPage('/tabs/account')">
            <ion-avatar slot="start">
              <img src="assets/images/avatar/5.jpg" />
            </ion-avatar>
            <ion-label class="lbl">
              <p class="name" style="text-transform: uppercase;">{{config.username}}</p>
              <!-- <p class="title">Ahmad Setiadi</p> -->
            </ion-label>
            <!-- (click)="onPage('/tabs/account')"  -->
            <ion-icon slot="end" name="chevron-forward-outline" color="light"></ion-icon>
          </ion-item>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none">
              <ion-icon slot="start" name="person-outline"></ion-icon>
              <ion-label>ID Card</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none">
              <ion-icon slot="start" name="card-outline"></ion-icon>
              <ion-label>NPWP</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none">
              <ion-icon slot="start" name="document-outline"></ion-icon>
              <ion-label>BPJS</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" *ngIf="config.usergroup_id==1">
            <ion-item lines="none" (click)="onRunPayroll()">
              <ion-icon slot="start" name="analytics-outline"></ion-icon>
              <ion-label>Run Payroll</ion-label>
            </ion-item>
          </ion-menu-toggle>          
          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" (click)="onLogout()">
              <ion-icon slot="start" name="log-out-outline"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>  
          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none">
              <!-- <ion-icon slot="start" name="log-out-outline"></ion-icon> -->
              <ion-label>{{config.getVersion()}}</ion-label>
            </ion-item>
          </ion-menu-toggle>        
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>