<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Grocery - 3 This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <!-- <ion-toolbar mode="ios" color="tertiary"></ion-toolbar> -->
</ion-header>
<!-- 
<ion-content class="ion-padding center-content">
  <div class="welcome-screen">
    <img src="assets/logo.png" alt="" class="img">
    <ion-label class="title">S I N A R</ion-label>
    <ion-button expand="block" fill="solid" color="light" (click)="onAuth()">
      Login
    </ion-button>
  </div>
</ion-content> -->

<ion-content class="ion-padding center-content">  
  <div class="welcome-screen">  
    <img src="assets/logo.png" alt="" class="img">  
    <ion-label class="title">S I N A R</ion-label>  
    <ion-button expand="block" fill="solid" color="light" (click)="onAuth()">  
      Login {{config.getVersion()}}
    </ion-button>  
  </div>  
</ion-content>  