<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Grocery - 3 This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
  <!-- <ion-buttons slot="start">
      <ion-button color="primary" (click)="util.openSideMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->

<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" color="light">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="dark">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Loan Input</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="onSubmit()" >
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
</ion-content>

