<ion-header [ngClass]="util.isModal">
  <ion-toolbar class="blues-nav">
    <ion-row>
      <ion-col size="2" class="nav-back">
        <span class="custom-icon-back-arrow-icon" (click)="util.popBack()">
          <span class="path1"></span> <span class="path2"></span> </span>
      </ion-col>
      <ion-col size="10" class="nav-content">
        <ion-title>
          <span>Expenses</span>
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="util.isModal">
  <div class="estimates-empty-div">
    <ion-item lines="none" class="estimates">
      <span slot="start" class="head-title">List of Expenses</span> <span slot="end"
        class="custom-icon-estimate-icon"></span>
    </ion-item>
  </div>
  <div class="estimates-content-div">
    <div class="estimates-timeline">
      <div class="estimates-container left" *ngFor="let eachExpense of expenses; let i=index">
        <ion-list id="{{i}}" class="estimates-list animated bounceInRight" [style.animationDelay.s]="0.3 + 0.1 * i">
          <ion-item-sliding>
            <ion-item class="slide-item" detail>
              <div class="estimates-content" (click)="openExpense(eachExpense)">
                <ion-row>
                  <ion-col size="9">
                    <ion-row style="white-space: nowrap;">
                      <div class="id">{{eachExpense.title}}</div>&nbsp;&nbsp;
                      <div class="status est-pending">{{eachExpense.category}}</div>
                    </ion-row>
                    <div class="name">{{eachExpense.company}}</div>
                  </ion-col>
                  <ion-col size="3">
                    <div class="amount"> {{eachExpense.amount}}
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="success" (click)="edit()">Edit</ion-item-option>
              <ion-item-option color="danger" (click)="delete(i)">Delete</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fab-add-btn" (click)="addExpenses()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>