<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Grocery - 3 This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="primary">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Invite Friends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="invite-friend-screen">
    <div class="box-content">
      <div class="gray-box">
        <ion-label class="lbl">Get ₹100.00</ion-label>
      </div>
      <ion-label class="small-lbl">
        Receive <span class="active">50 coins</span> for every friends who
        completes their firts order of ₹ 100.00 or
        more (enter code at checkout)
      </ion-label>
      <ion-label class="title">Your Referral Code</ion-label>
      <ion-label class="sub-title">(Tap, Copy & Share)</ion-label>
      <div class="primary-box">
        <ion-label class="lbl">ASDNBASJDNLADN</ion-label>
      </div>
    </div>
    <div class="lbl-inline">
      <ion-label class="lbl">You've earned</ion-label>
      <ion-label class="lbl-bold">0 of 10 rewards</ion-label>
    </div>

    <ion-label class="main-title-head">Share your code</ion-label>
    <div class="social-share-content">
      <div class="content">
        <ion-icon name="logo-facebook" color="tertiary"></ion-icon>
        <ion-label class="name">Facebook</ion-label>
      </div>
      <div class="content">
        <ion-icon name="mail-outline" color="danger"></ion-icon>
        <ion-label class="name">Mail</ion-label>
      </div>
      <div class="content">
        <ion-icon name="share-social-outline" color="warning"></ion-icon>
        <ion-label class="name">Other</ion-label>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" fill="solid" color="dark">
      Or share to your contacts
    </ion-button>
  </ion-toolbar>
</ion-footer>