<ion-header>
  <ion-toolbar>
    <div class="modal-top"></div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding modal-content">
  <ion-list>
    <ion-item class="inputItem" detail>
      <ion-label>Employee</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>
    <ion-item class="inputItem" detail>
      <ion-label>Holiday</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>
    <ion-item class="inputItem" detail>
      <ion-label>Leave Request</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>
    <ion-item class="inputItem" detail>
      <ion-label>Events</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>
    <ion-item class="inputItem" detail>
      <ion-label>Chat</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>
  </ion-list>
  <div style="padding: 10px;">
    <ion-button class="loginButton" expand="block" (click)="successAlert()">save </ion-button>
  </div>
</ion-content>