<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-segment [(ngModel)]="segment" mode="md">
      <ion-segment-button value="signin">
        <ion-label>S I N A R</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="tertiary">
  <div class="auth-screen">
    <div *ngIf="segment == 'signin'">
      <ion-row class="ion-no-margin ion-no-padding mobile-content" color="light">
        <ion-col size="12">
          <ion-label class="lbl">Username</ion-label>
          <div class="input-content">
            <ion-input class="custom-input" type="text" placeholder="Your Username" [(ngModel)]="username"></ion-input>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-label class="lbl">Password</ion-label>
          <div class="input-content">
            <ion-input class="custom-input" (keydown.enter)="onLogin()" [(ngModel)]="password" [type]="passwordView == false ? 'password' :'text' " placeholder="Your Password"></ion-input>
            <ion-icon slot="end" [name]="passwordView == false ?'eye-outline' :'eye-off-outline'"
              (click)="toggePassword()" color="medium"></ion-icon>
          </div>
        </ion-col>
      </ion-row>

      <ion-button expand="block" fill="solid" color="light" class="sing-btn" (click)="onLogin()">
        Login
      </ion-button>

      <!-- <ion-label class="reset-btn lbl" (click)="onReset()">Forgot password?</ion-label> -->
    </div>
  </div>
</ion-content>