<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Grocery - 3 This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="primary">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="auth-screen">
    <ion-label class="main-title">Please change your password</ion-label>
    <ion-row class="ion-no-margin ion-no-padding mobile-content">
      <ion-col size="12">
        <ion-label class="lbl">New Password</ion-label>
        <div class="input-content">
          <ion-input [type]="passwordView == false ? 'password' :'text' " placeholder="Your Password"></ion-input>
          <ion-icon slot="end" [name]="passwordView == false ?'eye-outline' :'eye-off-outline'"
            (click)="toggePassword()" color="medium"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-no-margin ion-no-padding mobile-content">
      <ion-col size="12">
        <ion-label class="lbl">Confirm Password</ion-label>
        <div class="input-content">
          <ion-input [type]="passwordView == false ? 'password' :'text' " placeholder="Your Password"></ion-input>
          <ion-icon slot="end" [name]="passwordView == false ?'eye-outline' :'eye-off-outline'"
            (click)="toggePassword()" color="medium"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" fill="solid" color="dark" (click)="onBack()">
      Reset Password
    </ion-button>
  </ion-toolbar>
</ion-footer>