<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Grocery - 3 This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" color="dark">
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="util.openSideMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="account-screen">
    <ion-item lines="none" class="account-item-content" (click)="onPage('edit-profile')">
      <ion-avatar slot="start">
        <img src="assets/images/avatar/2.jpg" />
      </ion-avatar>
      <ion-label class="lbl">
        <p class="name">Howdy,Good Morning</p>
        <p class="title">John Cannery</p>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="medium"></ion-icon>
    </ion-item>

    <ion-item lines="none" class="item-content" (click)="onPage('orders')">
      <ion-icon slot="start" name="bag-handle-outline" color="primary"></ion-icon>
      <ion-label class="lbl">Your order</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="medium"></ion-icon>
    </ion-item>

    <ion-item lines="none" class="item-content" (click)="onPage('notifications')">
      <ion-icon slot="start" name="notifications-outline" color="primary"></ion-icon>
      <ion-label class="lbl">Notifications</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="medium"></ion-icon>
    </ion-item>

    <ion-item lines="none" class="item-content" (click)="onPage('loyal-programs')">
      <ion-icon slot="start" name="gift-outline" color="primary"></ion-icon>
      <ion-label class="lbl">Loyaly program</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="medium"></ion-icon>
    </ion-item>

    <ion-item lines="none" class="item-content" (click)="onPage('wallet')">
      <ion-icon slot="start" name="wallet-outline" color="primary"></ion-icon>
      <ion-label class="lbl">Your wallet</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="medium"></ion-icon>
    </ion-item>

    <ion-item lines="none" class="item-content" (click)="onPage('invite-friends')">
      <ion-icon slot="start" name="people-outline" color="primary"></ion-icon>
      <ion-label class="lbl">Invite friends</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="medium"></ion-icon>
    </ion-item>

    <ion-row class="banner-section">
      <ion-col size="4">
        <img src="assets/images/images/salary.png" alt="" class="img">
      </ion-col>
      <ion-col size="8">
        <ion-label class="title">Earn up to ₹560</ion-label>
        <ion-label class="sub-title">Shopping with friends is more fun!</ion-label>
      </ion-col>
    </ion-row>

    <ion-item lines="none" class="item-content" (click)="onPage('edit-profile')">
      <ion-icon slot="start" name="person-circle-outline" color="primary"></ion-icon>
      <ion-label class="lbl">Personal Information</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="medium"></ion-icon>
    </ion-item>

    <ion-item lines="none" class="item-content" (click)="onPage('address-book')">
      <ion-icon slot="start" name="navigate-circle-outline" color="primary"></ion-icon>
      <ion-label class="lbl">Address Book</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="medium"></ion-icon>
    </ion-item>

    <ion-row class="banner-section">
      <ion-col size="4">
        <img src="assets/images/images/like.png" alt="" class="img">
      </ion-col>
      <ion-col size="8">
        <ion-label class="title">Like GroCity?</ion-label>
        <ion-label class="sub-title">Like GroCity rating on appstore Thank you!!</ion-label>
      </ion-col>
    </ion-row>

    <ion-item lines="none" class="item-content" (click)="onPage('settings')">
      <ion-icon slot="start" name="settings-outline" color="primary"></ion-icon>
      <ion-label class="lbl">Settings</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="medium"></ion-icon>
    </ion-item>

    <ion-item lines="none" class="item-content" (click)="onPage('help')">
      <ion-icon slot="start" name="help-circle-outline" color="primary"></ion-icon>
      <ion-label class="lbl">Help</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="medium"></ion-icon>
    </ion-item>

    <ion-item lines="none" class="item-content" (click)="onPage('contact-info')">
      <ion-icon slot="start" name="headset-outline" color="primary"></ion-icon>
      <ion-label class="lbl">Contacts</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" color="medium"></ion-icon>
    </ion-item>
  </div> -->
</ion-content>