<ion-header>
  <ion-toolbar>
    <div class="modal-top"></div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding modal-content">
  <ion-item class="inputItem" detail>
    <ion-label position="floating"> Old Password</ion-label>
    <ion-input type="Password"></ion-input>
  </ion-item>
  <ion-item class="inputItem" detail>
    <ion-label position="floating">New Password</ion-label>
    <ion-input type="Password"></ion-input>
  </ion-item>
  <ion-item class="inputItem" detail>
    <ion-label position="floating">Confirm Password</ion-label>
    <ion-input type="Password"></ion-input>
  </ion-item>
  <ion-button class="loginButton" expand="block" (click)="successAlert()">update password </ion-button>
</ion-content>