<ion-header>
  <ion-toolbar>
    <div class="modal-top"></div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding modal-content">
  <ion-list>
    <ion-item detail class="inputItem">
      <ion-label position="floating">Holiday Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item detail class="inputItem">
      <ion-label position="floating">Description</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item detail class="inputItem">
      <ion-label position="floating">Holiday Date</ion-label>
      <ion-datetime inputFormat="DD MMM YYYY" displayFormat="DD MMM YYYY"></ion-datetime>
    </ion-item>
  </ion-list>
  <ion-button class="loginButton" expand="block" (click)="save()">Add Holiday </ion-button>
</ion-content>