<ion-header>
  <ion-toolbar>
    <div class="modal-top"></div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding modal-content">
  <ion-item class="inputItem" detail>
    <ion-label position="floating">Company Name</ion-label>
    <ion-input value="Focus Technologies"></ion-input>
  </ion-item>
  <ion-item class="inputItem" detail>
    <ion-label position="floating">Contact Person</ion-label>
    <ion-input value="Daniel Porter"></ion-input>
  </ion-item>
  <ion-item class="inputItem" detail>
    <ion-label position="floating">Address</ion-label>
    <ion-input value="3864 Quiet Valley Lane, Sherman Oaks, CA, 91403"></ion-input>
  </ion-item>
  <ion-item class="inputItem" detail>
    <ion-label position="floating">Country</ion-label>
    <ion-input value="USA"></ion-input>
  </ion-item>
  <ion-item class="inputItem" detail>
    <ion-label position="floating">State</ion-label>
    <ion-input value="California"></ion-input>
  </ion-item>
  <ion-item class="inputItem" detail>
    <ion-label position="floating">City</ion-label>
    <ion-input value="Sherman Oaks"></ion-input>
  </ion-item>
  <ion-item class="inputItem" detail>
    <ion-label position="floating"> Postal Code</ion-label>
    <ion-input value="91403"></ion-input>
  </ion-item>
  <ion-item class="inputItem" detail>
    <ion-label position="floating">Email</ion-label>
    <ion-input value="danielporter@example.com"></ion-input>
  </ion-item>
  <ion-item class="inputItem" detail>
    <ion-label position="floating">Phone Number</ion-label>
    <ion-input value="818-635-5579"></ion-input>
  </ion-item>
  <ion-item class="inputItem" detail>
    <ion-label position="floating">Mobile Number</ion-label>
    <ion-input value="818-635-5579"></ion-input>
  </ion-item>
  <ion-item class="inputItem" detail>
    <ion-label position="floating">Fax</ion-label>
    <ion-input value="818-635-5579"></ion-input>
  </ion-item>
  <ion-item class="inputItem" detail>
    <ion-label position="floating">Website URL</ion-label>
    <ion-input value="https://www.example.com"></ion-input>
  </ion-item>
  <ion-button class="loginButton" expand="block" (click)="save()">save </ion-button>
</ion-content>