<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" color="light">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="dark">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title><b>Run Payroll</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="category-screen">
    <div class="bg-white rounded-lg shadow-lg p-4">
      
      <div class="text-center mb-4">
          <h3 class="text-xl font-bold">Monthly</h3>
          <div class="flex justify-center items-center space-x-2 mt-2">              
              <ion-icon (click)="prevMonth()" *ngIf="config.progress_payroll<=0 || config.progress_payroll>=100" name="chevron-back-outline" class="text-gray-500"></ion-icon>
              <span class="text-sm text-gray-500">{{selectedComboMonth.name}}</span>              
              <ion-icon (click)="nextMonth()" *ngIf="config.progress_payroll<=0 || config.progress_payroll>=100" name="chevron-forward-outline" class="text-gray-500"></ion-icon>              
          </div>
      </div>

      <div class="flex justify-between mb-4">        
          <div class="bg-gray-100 p-2 rounded-lg text-center w-full mr-2 ml-2">
              <p class="text-xs text-gray-500">Pay period</p>
              <p class="text-lg font-bold">{{startdate}} → {{enddate}}</p>
          </div>
      </div>

      <button 
        *ngIf="config.progress_payroll<=0 || config.progress_payroll>=100"
        (click)="showEmployee()" 
        class="bg-gray-600 text-white font-bold py-2 px-4 mb-2 rounded-lg w-full flex items-center justify-center">
          {{textButton}}
      </button>

      <button 
        *ngIf="config.progress_payroll<=0 || config.progress_payroll>=100"
        (click)="startPayrollProcess()" 
        class="bg-blue-600 text-white font-bold py-2 px-4 rounded-lg w-full flex items-center justify-center">
          Run Payroll
      </button>
      <!-- (onSelect)="onEmployeeChange()"                 -->
      <ion-item>
        <!-- <ion-col size="3">
          <ion-label>Employee</ion-label>
        </ion-col> -->
        <ion-col size="12" *ngIf="showListEmployee">
          <ionic-selectable  
            #portEmployee  
            [(ngModel)]="listemp"       
            [items]="employees" 
            itemValueField="id" 
            itemTextField="name" 
            placeholder="Pilih Karyawan" 
            [canSearch]="true"         
            [canClear]="true"             
            [isMultiple]="true"
            (onClose)="onClose($event)"
            [allowClear]="true">
          </ionic-selectable>
        </ion-col>          
      </ion-item>

      <div class="text-center mb-4 mt-4" *ngIf="config.progress_payroll<100">
          <ion-progress-bar [value]="config.progress_payroll / 100"></ion-progress-bar>  
      </div>      
    </div>
  </div>
</ion-content>