<ion-header [ngClass]="util.isModal">
  <ion-toolbar class="blues-nav">
    <ion-row>
      <ion-col size="2" class="nav-back">
        <span class="custom-icon-back-arrow-icon" (click)="util.popBack()">
          <span class="path1"></span> <span class="path2"></span> </span>
      </ion-col>
      <ion-col size="10" class="nav-content">
        <ion-title>
          <span>Leaves</span>
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content [ngClass]="util.isModal">
  <div class="estimates-empty-div">
    <ion-item lines="none" class="estimates">
      <span slot="start" class="head-title">List of Leaves</span> <span slot="end"
        class="custom-icon-leave-status-icons"></span>
    </ion-item>
  </div>
  <div class="estimates-content-div">
    <div class="estimates-timeline">
      <div class="estimates-container left">
        <ion-list class="estimates-list">
          <ion-item-sliding>
            <ion-item class="slide-item" detail>
              <div class="estimates-content">
                <ion-row>
                  <ion-col size="9">
                    <ion-row style="white-space: nowrap;">
                      <div class="id">Patrick Paul</div>&nbsp;&nbsp;
                      <div class="status est-pending">Pending</div>
                    </ion-row>
                    <div class="name">Plan Leave</div>
                  </ion-col>
                  <ion-col size="3">
                    <div class="amount">5 Days
                    </div>
                    <h4 class="payment-date">
                      12-Jan-2020
                    </h4>
                  </ion-col>
                </ion-row>
              </div>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="success" (click)="deleteLeaveType('Accept')">Accept</ion-item-option>
              <ion-item-option color="danger" (click)="deleteLeaveType('Decline')">Decline</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
      <div class="estimates-container left">
        <ion-list class="estimates-list">
          <ion-item-sliding>
            <ion-item class="slide-item" detail>
              <div class="estimates-content">
                <ion-row>
                  <ion-col size="9">
                    <ion-row style="white-space: nowrap;">
                      <div class="id">Patrick Paul</div>&nbsp;&nbsp;
                      <div class="status est-pending">Pending</div>
                    </ion-row>
                    <div class="name">Plan Leave</div>
                  </ion-col>
                  <ion-col size="3">
                    <div class="amount">5 Days
                    </div>
                    <h4 class="payment-date">
                      12-Jan-2020
                    </h4>
                  </ion-col>
                </ion-row>
              </div>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="success" (click)="deleteLeaveType('Accept')">Accept</ion-item-option>
              <ion-item-option color="danger" (click)="deleteLeaveType('Decline')">Decline</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
      <div class="estimates-container left">
        <ion-list class="estimates-list">
          <ion-item-sliding>
            <ion-item class="slide-item" detail>
              <div class="estimates-content">
                <ion-row>
                  <ion-col size="9">
                    <ion-row style="white-space: nowrap;">
                      <div class="id">Patrick Paul</div>&nbsp;&nbsp;
                      <div class="status est-pending">Pending</div>
                    </ion-row>
                    <div class="name">Plan Leave</div>
                  </ion-col>
                  <ion-col size="3">
                    <div class="amount">5 Days
                    </div>
                    <h4 class="payment-date">
                      12-Jan-2020
                    </h4>
                  </ion-col>
                </ion-row>
              </div>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="success" (click)="deleteLeaveType('Accept')">Accept</ion-item-option>
              <ion-item-option color="danger" (click)="deleteLeaveType('Decline')">Decline</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
      <div class="estimates-container left">
        <ion-list class="estimates-list">
          <ion-item-sliding>
            <ion-item class="slide-item" detail>
              <div class="estimates-content">
                <ion-row>
                  <ion-col size="9">
                    <ion-row style="white-space: nowrap;">
                      <div class="id">Patrick Paul</div>&nbsp;&nbsp;
                      <div class="status est-pending">Pending</div>
                    </ion-row>
                    <div class="name">Plan Leave</div>
                  </ion-col>
                  <ion-col size="3">
                    <div class="amount">2 Days
                    </div>
                    <h4 class="payment-date">
                      02-Mar-2019
                    </h4>
                  </ion-col>
                </ion-row>
              </div>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="success" (click)="deleteLeaveType('Accept')">Accept</ion-item-option>
              <ion-item-option color="danger" (click)="deleteLeaveType('Decline')">Decline</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
      <div class="estimates-container left">
        <ion-list class="estimates-list">
          <ion-item-sliding>
            <ion-item class="slide-item" detail>
              <div class="estimates-content">
                <ion-row>
                  <ion-col size="9">
                    <ion-row style="white-space: nowrap;">
                      <div class="id">Paul Patrick</div>&nbsp;&nbsp;
                      <div class="status est-pending">Pending</div>
                    </ion-row>
                    <div class="name">Sick Leave</div>
                  </ion-col>
                  <ion-col size="3">
                    <div class="amount">5 Days
                    </div>
                    <h4 class="payment-date">
                      12-Aug-2019
                    </h4>
                  </ion-col>
                </ion-row>
              </div>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="success" (click)="deleteLeaveType('Accept')">Accept</ion-item-option>
              <ion-item-option color="danger" (click)="deleteLeaveType('Decline')">Decline</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
      <div class="estimates-container left">
        <ion-list class="estimates-list">
          <ion-item-sliding>
            <ion-item class="slide-item" detail>
              <div class="estimates-content">
                <ion-row>
                  <ion-col size="9">
                    <ion-row style="white-space: nowrap;">
                      <div class="id">Jhon Deo</div>&nbsp;&nbsp;
                      <div class="status est-pending">Pending</div>
                    </ion-row>
                    <div class="name">Casual Leave</div>
                  </ion-col>
                  <ion-col size="3">
                    <div class="amount">4 Days
                    </div>
                    <h4 class="payment-date">
                      10-Jan-2020
                    </h4>
                  </ion-col>
                </ion-row>
              </div>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="success" (click)="deleteLeaveType('Accept')">Accept</ion-item-option>
              <ion-item-option color="danger" (click)="deleteLeaveType('Decline')">Decline</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
    </div>
  </div>
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fab-add-btn" (click)="addLeaveType()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>