<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" color="light">
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="util.openSideMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title><b>Payroll</b></ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button color="dark" (click)="addData()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button> 
    </ion-buttons>-->
    
    <!-- <ion-buttons slot="end">
      <ion-button color="dark" (click)="sendEmail()">
        <ion-icon slot="icon-only" name="mail-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->

    <!-- <ion-buttons slot="end">
      <ion-button color="dark" (click)="addData()" *ngIf="!isEdit">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
      <ion-button color="dark" (click)="ngOnInit()" *ngIf="isEdit">
        <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
      </ion-button>
      <ion-button color="dark" (click)="saveData()" *ngIf="isEdit">
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
  <!-- <ion-toolbar color="dark" mode="ios">
    <ion-segment color="light" [(ngModel)]="segment" (ionChange)="onSegmentChange($event)" mode="md">
      <ion-segment-button value="checkin">
        <ion-label>Check In</ion-label>
      </ion-segment-button>      
      <ion-segment-button value="checkpoint">
        <ion-label>Check Point</ion-label>
      </ion-segment-button>
      <ion-segment-button value="checkout">
        <ion-label>Check Out</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar> -->
</ion-header>

<ion-content class="ion-padding">
  <!-- <ion-button expand="block" fill="solid" color="light" class="sing-btn" (click)="testBrowser()">
    test browser
  </ion-button> -->

  <div class="category-screen">
    <!-- <div class="flex justify-between">      
      <div class="flex bg-gray-700 text-white p-2 rounded-lg mr-2 ml-2 mb-2 justify-center items-center text-center w-full space-x-2 ">              
          <ion-icon slot="start" style="font-size: 18pt;" (click)="prevMonth()" name="chevron-back-outline" class="text-gray-500 text-white"></ion-icon>
          <span class="text-sm">{{selectedComboMonth.name}}: {{startdate}} → {{enddate}}</span>          
          <ion-icon slot="end" style="font-size: 18pt;" (click)="nextMonth()" name="chevron-forward-outline" class="text-gray-500 text-white"></ion-icon>              
      </div>
    </div>    -->
    <!-- <div class="flex justify-between">      
      <div class="flex bg-gray-700 text-white p-2 rounded-lg mr-2 ml-2 mb-2 justify-center items-center text-center w-full space-x-2">              
          <ion-icon slot="start" style="font-size: 18pt;" (click)="prevMonth()" name="chevron-back-outline" class="text-gray-500 text-white"></ion-icon>
          <span class="text-sm">{{selectedComboMonth.name}}: {{startdate}} → {{enddate}}</span>          
          <ion-icon slot="end" style="font-size: 18pt;" (click)="nextMonth()" name="chevron-forward-outline" class="text-gray-500 text-white"></ion-icon>
      </div>
    </div> -->


    <!-- <div class="flex justify-between mb-1">    
      <div class="bg-gray-200 p-2 rounded-lg text-center w-full mr-2 ml-2" 
          style="font-size: 10pt;">          
          <p class="text-sm">Period: {{startdate}} → {{enddate}}</p>
      </div>
    </div> -->

    <ion-row>
      <ion-col size="12">
        <div class="flex items-center bg-gray-700 rounded-md shadow-md p-1 h-10">  
          <ion-icon (click)="prevMonth()" class="text-gray-500 text-lg ml-2 text-white" name="chevron-back-outline"></ion-icon>
          <span class="text-sm flex-1 px-1 py-1 text-white text-center">{{selectedComboMonth.name}}:&nbsp;&nbsp;&nbsp;{{startdate}} → {{enddate}}</span>                 
          <ion-icon (click)="nextMonth()" class="text-gray-500 text-lg mr-2 text-white" name="chevron-forward-outline">
          </ion-icon>
         </div>
      </ion-col>
    </ion-row>

        <ion-row *ngIf="config.user.id_usergroup==1">
          <ion-col size="12">
            <div class="flex items-center border border-gray-300 rounded-md shadow-md bg-white p-1 h-10">       
              <input [(ngModel)]="search" (keydown.enter)="loadData()"  class="flex-1 px-2 py-1 text-gray-600 text-sm focus:outline-none" placeholder="Search Data" type="text"/>
              <ion-icon  (click)="loadData()" class="text-gray-500 text-lg mr-2" name="search-outline">
              </ion-icon>
             </div>
          </ion-col>
        </ion-row>

        <!-- http://192.168.1.8:3000/document/payrollslip -->

        <div *ngIf="linkpdf">
          <iframe [src]="linkpdf" width="370" height="700px" frameborder="0"></iframe>
        </div>

        <!-- <iframe *ngIf="linkpdf" [src]="linkpdf" class="ml-1" width="370" height="700">
            This browser does not support PDFs. Please download the PDF to view it: <a [href]="linkpdf">Download PDF</a>
        </iframe> -->

        <!-- <iframe *ngIf="pdfUrl" [src]="pdfUrl" class="ml-1" width="370" height="700">
          This browser does not support PDFs. Please download the PDF to view it: <a [href]="pdfUrl">Download PDF</a>
        </iframe> -->

        <!-- <iframe *ngIf="pdfUrl" [src]="pdfUrl" class="ml-1" [src]="linkpdf" width="370" height="700">
          This browser does not support PDFs. Please download the PDF to view it: <a [href]="pdfUrl">Download PDF</a>
        </iframe> -->

        <!-- <button     
        (click)="testBrowser()"            
        class="bg-blue-600 text-white font-bold py-2 px-4 rounded-lg w-full flex items-center justify-center">
          Run Payroll          
      </button> -->
        <!-- <ion-row>
          <ion-col size="6">
            <div class="flex items-center bg-gray-700 text-white rounded-md px-3 py-1 h-10" (click)="toggleSelect()">
              <ion-icon name="calendar-outline" class="text-xl mr-2"></ion-icon>
              <span class="text-sm">{{ selectedComboMonth?.name || 'Select Date Range' }}</span>
              <ion-icon name="chevron-down-outline" class="text-xl ml-8"></ion-icon>
            </div>      
            
            <ion-select [(ngModel)]="selectedComboMonth" (ionChange)="onSelectChange($event)" hidden="true" interface="popover" #dateSelect>
              <ion-select-option *ngFor="let option of config.combomonth" [value]="option">{{ option.name }}</ion-select-option>
            </ion-select>
          </ion-col>      
        </ion-row> -->
    
        <div class="table-container" *ngFor="let group of groupname">  
          <span style="color:black; font-size: 13pt;"><b>{{ group.name }}</b></span>
          <table>  
            <thead>  
              <tr>                  
                <th>Tanggal</th>  
                <th>Masuk</th>  
                <th>Pulang</th>  
                <th>Meal</th>  
                <th>OT Hour</th>  
              </tr>  
            </thead>  
            <tbody>  
              <tr 
                *ngFor="let data of group.detail" 
                (click)="editData(data.attendance_id)" 
                [ngStyle]="{'color': data.statusattendance === 'OFF' ? 'red' : '', 'height': '50px'}">
                <td>{{data.tdate}}</td>  
                <td>{{data.timein}}</td>  
                <td>{{data.timeout}}</td>  
                <td>{{data.getmakan}}</td>  
                <td>{{data.overtimehour}}</td>  
              </tr>  
            </tbody>  
          </table>  
        </div>
  </div>
</ion-content>