<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" color="light">
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="util.openSideMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title><b>Payroll Slip</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="category-screen">

    <ion-row>
      <ion-col size="12">
        <div class="flex items-center bg-gray-700 rounded-md shadow-md p-1 h-10">  
          <ion-icon (click)="prevMonth()" class="text-gray-500 text-lg ml-2 text-white" name="chevron-back-outline"></ion-icon>
          <span class="text-sm flex-1 px-1 py-1 text-white text-center">{{selectedComboMonth.name}}:&nbsp;&nbsp;&nbsp;{{startdate}} → {{enddate}}</span>                 
          <ion-icon (click)="nextMonth()" class="text-gray-500 text-lg mr-2 text-white" name="chevron-forward-outline">
          </ion-icon>
         </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="config.user.id_usergroup==1">
      <ion-col size="12">
        <div class="flex items-center border border-gray-300 rounded-md shadow-md bg-white p-1 h-10">       
          <input [(ngModel)]="search" (keydown.enter)="loadData()"  class="flex-1 px-2 py-1 text-gray-600 text-sm focus:outline-none" placeholder="Search Data" type="text"/>
          <ion-icon  (click)="loadData2()" class="text-gray-500 text-lg mr-2" name="search-outline">
          </ion-icon>
          </div>
      </ion-col>
    </ion-row>

    <!-- 
    logo.png        +62 812 8727 9515     admin@sinarantarbintang.co.id         www.sinarantarbintang.co.id
    logo_nsa.png    +62 812 9347 0947     admin001@nasionalsinarabadi.co.id     www.nasionalsinarabadi.co.id 
    -->
    <div #slipContent [hidden]="!showSlip" id="payroll-slip" class="bg-white max-w-[800px] mx-auto p-6 border border-gray-300 rounded text-sm leading-relaxed font-sans">
      <div class="flex items-start justify-between border-b pb-2 mb-4">
        <div class="flex items-start gap-3">
          <img *ngIf="dataslip?.company_id==1" src="assets/logo.png" alt="Logo" class="w-20 h-20" />
          <img *ngIf="dataslip?.company_id==2" src="assets/logo.png" alt="Logo" class="w-20 h-20" />
          <div>
            <h1 class="font-bold text-xl">{{dataslip?.company}}</h1>
            <div class="flex items-center space-x-1">
              <img src="assets/location.png" class="w-6 h-6 icon-header" alt="Location Icon" />
              <p class="text-sm leading-snug">
                Panjibuwono City, Ruko The Plaza AR No.1-2, Kelurahan Kedung Pengawas, Kecamatan Babelan, Kabupaten Bekasi, Jawa Barat
              </p>
            </div>                 
            <div class="flex justify-between items-center w-full pt-1">
              <div class="flex items-start space-x-1">
                <img src="assets/telp.png" class="w-6 h-6 icon-header" alt="Telp Icon" />
                <p class="text-sm leading-snug">+62 21 5692 6357</p>
              </div>

              <div class="flex items-center space-x-1" *ngIf="dataslip?.company_id==1">
                <img src="assets/wa.png" class="w-6 h-6 icon-header" alt="WA Icon" />
                <p class="text-sm leading-snug">+62 812 8727 9515</p>
              </div>
              <div class="flex items-center space-x-1" *ngIf="dataslip?.company_id==2">
                <img src="assets/wa.png" class="w-6 h-6 icon-header" alt="WA Icon" />
                <p class="text-sm leading-snug">+62 812 9347 0947</p>
              </div>

              <div class="flex items-center space-x-1" *ngIf="dataslip?.company_id==1">
                <img src="assets/email.png" class="w-6 h-6 icon-header" alt="Email Icon" />
                <p class="text-sm leading-snug">admin@sinarantarbintang.co.id</p>
              </div>
              <div class="flex items-center space-x-1" *ngIf="dataslip?.company_id==2">
                <img src="assets/email.png" class="w-6 h-6 icon-header" alt="Email Icon" />
                <p class="text-sm leading-snug">admin001@nasionalsinarabadi.co.id</p>
              </div>

            </div>
            <div class="flex items-center space-x-1 pt-1" *ngIf="dataslip?.company_id==1">
              <img src="assets/web.png" class="w-6 h-6 icon-header" alt="Location Icon" />
              <p class="text-sm leading-snug">www.sinarantarbintang.co.id</p>
            </div>
            <div class="flex items-center space-x-1 pt-1" *ngIf="dataslip?.company_id==2">
              <img src="assets/web.png" class="w-6 h-6 icon-header" alt="Location Icon" />
              <p class="text-sm leading-snug">www.nasionalsinarabadi.co.id </p>
            </div>
            
          </div>
        </div>
      </div>

      <h2 class="text-center font-bold text-base">PAYROLL SLIP<br></h2>
      <h3 class="text-center font-bold mb-7 text-base text-sm">{{ dataslip?.enddate | date:'MMMM yyyy' }}</h3>

      <div class="grid grid-cols-2 gap-4 text-sm mb-7">
        <div class="space-y-1">
          <div class="grid grid-cols-[140px,10px,1fr] gap-x-1">
            <span class="font-semibold">Name</span><span>:</span><span>{{dataslip?.name}}</span>
          </div>
          <div class="grid grid-cols-[140px,10px,1fr] gap-x-1">
            <span class="font-semibold">Job Title</span><span>:</span><span>{{dataslip?.position}}</span>
          </div>
          <div class="grid grid-cols-[140px,10px,1fr] gap-x-1">
            <span class="font-semibold">Department</span><span>:</span><span>{{dataslip?.department}}</span>
          </div>
        </div>

        <div class="space-y-1">
          <div class="grid grid-cols-[140px,10px,1fr] gap-x-1">
            <span class="font-semibold">Marital Status</span><span>:</span><span>{{dataslip?.ptkp}}</span>
          </div>
          <div class="grid grid-cols-[140px,10px,1fr] gap-x-1">
            <span class="font-semibold">NPWP</span><span>:</span><span>{{dataslip?.npwpemployee}}</span>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 mb-8 text-sm">        
        <div>
          <h3 class="font-semibold underline mb-2">Income :</h3>
          <div class="space-y-1">
            <div class="grid grid-cols-[180px,10px,1fr]">
              <span>Basic Salary</span><span>:</span><span class="text-right pr-4">{{ dataslip?.gajipokok | number:'1.0-0' }}</span>
            </div>
            <div class="grid grid-cols-[180px,10px,1fr]">
              <span>Meal</span><span>:</span><span class="text-right pr-4">{{ dataslip?.uang_makan | number:'1.0-0' }}</span>
            </div>
            <div class="grid grid-cols-[180px,10px,1fr]">
              <span>BPJS TK Company</span><span>:</span><span class="text-right pr-4">{{ dataslip?.tk_jhtcompany | number:'1.0-0' }}</span>
            </div>
            <div class="grid grid-cols-[180px,10px,1fr]">
              <span>BPJS TK - JKK Company</span><span>:</span><span class="text-right pr-4">{{ dataslip?.tk_jkk | number:'1.0-0' }}</span>
            </div>
            <div class="grid grid-cols-[180px,10px,1fr]" *ngIf="dataslip?.otherincome!=0">
              <span>Others</span><span>:</span><span class="text-right pr-4">{{ dataslip?.otherincome | number:'1.0-0' }}</span>
            </div>

            <div class="grid grid-cols-[180px,10px,1fr] font-semibold pt-3">
              <span>Total Income (IDR)</span><span>:</span><span class="text-right pr-4">{{ dataslip?.gajipokok+dataslip?.uang_makan+dataslip?.tk_jhtcompany+dataslip?.tk_jkk+dataslip?.otherincome  | number:'1.0-0' }}</span>
            </div>
          </div>
        </div>

        <div>
          <h3 class="font-semibold underline mb-2">Deduction :</h3>
          <div class="space-y-1">
            <div class="grid grid-cols-[180px,10px,1fr]">
              <span>BPJS TK Company</span><span>:</span><span class="text-right pr-2">{{ dataslip?.p_tk_jhtcompany | number:'1.0-0' }}</span>
            </div>
            <div class="grid grid-cols-[180px,10px,1fr]">
              <span>BPJS TK Employee</span><span>:</span><span class="text-right pr-2">{{ dataslip?.p_tk_jhtemployee | number:'1.0-0' }}</span>
            </div>
            <div class="grid grid-cols-[180px,10px,1fr]">
              <span>BPJS TK - JKK Company</span><span>:</span><span class="text-right pr-2">{{ dataslip?.p_tk_jkk | number:'1.0-0' }}</span>
            </div>
            <div class="grid grid-cols-[180px,10px,1fr]">
              <span>BPJS KS Employee</span><span>:</span><span class="text-right pr-2">{{ dataslip?.p_ks_employee | number:'1.0-0' }}</span>
            </div>
            <div class="grid grid-cols-[180px,10px,1fr]" *ngIf="dataslip?.otherdeduction!=0">
              <span>Others</span><span>:</span><span class="text-right pr-2">{{ dataslip?.otherdeduction | number:'1.0-0' }}</span>
            </div>

            <div class="grid grid-cols-[180px,10px,1fr] font-semibold pt-3">
              <span>Total Deduction (IDR)</span><span>:</span><span class="text-right pr-2">{{ dataslip?.p_tk_jhtcompany+dataslip?.p_tk_jhtemployee+dataslip?.p_tk_jkk+dataslip?.p_ks_employee+dataslip?.otherdeduction | number:'1.0-0' }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-green-100 rounded font-bold text-lg mb-4 p-2">
        <div class="flex justify-between items-center">
          <span>Take Home Pay (IDR)</span>
          <span>{{ dataslip?.takehomepay | number:'1.0-0' }}</span>
        </div>
      </div>


      <div class="text-sm mb-2">
        <p><strong>Transfer to:</strong></p>
        <p>{{dataslip?.bankname}}</p>
        <p>A/C No: {{dataslip?.bankaccountnumber}}</p>
        <p>{{dataslip?.bankaccountname}}</p>
      </div>

      <div class="text-right text-xs italic mt-6 pr-2">
        CONFIDENTIAL
      </div>
    </div>
    <!--  -->
        <div class="bg-white rounded-lg shadow-md p-4 m-1 mb-2" *ngFor="let data of datasource">
          <div class="flex items-center justify-between mb-4">
              <div class="flex items-center">
                  <div>
                      <div class="ml-4 text-lg font-medium font-bold text-black-500"><b>{{data.name}}</b></div>
                      <div class="flex items-center text-sm text-gray-500 ml-4">                        
                          <div class="flex items-center mr-4">                        
                              {{data.tdate}}
                          </div>
                          <div class="flex items-center mr-4">
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded" (click)="download(data)">
                                Download
                            </button>
                          </div>
                          <!--  *ngIf="config.usergroup_id==1" -->
                          <div class="flex items-center mr-4" *ngIf="config.usergroup_id==1">
                            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded" (click)="deletePayroll(data)">
                                Delete
                            </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
          <div class="bg-gray-100 p-4 rounded-lg mb-4">
              <div class="text-lg font-medium mb-2"><b>Earnings</b></div>
              <div class="flex justify-between text-sm mb-1">
                  <div>Basic</div>
                  <div> {{data.gajipokok | number}}</div>
              </div>
              <div class="flex justify-between text-sm mb-1">
                  <div>Meal</div>
                  <div> {{data.uang_makan | number}}</div>
              </div>
              <div class="flex justify-between text-sm mb-1">
                  <div>Reimburse</div>
                  <div> {{data.reimburse | number}}</div>
              </div>
              <div class="flex justify-between text-sm mb-1">
                  <div>BPJS TK Company</div>
                  <div> {{data.tk_jhtcompany | number}}</div>
              </div>
              <div class="flex justify-between text-sm">
                  <div>BPJS TK - JKK Company</div>
                  <div> {{data.tk_jkk | number}}</div>
              </div>
              <div class="flex justify-between text-sm" *ngIf="data?.otherincome!=0">
                  <div>Others</div>
                  <div> {{data.otherincome | number}}</div>
              </div>
          </div>
          <div class="bg-gray-100 p-4 rounded-lg">
              <div class="text-lg font-medium mb-2"><b>Deductions</b></div>
              <div class="flex justify-between text-sm mb-1">
                  <div>BPJS TK Company</div>
                  <div> {{data.p_tk_jhtcompany | number}}</div>
              </div>
              <div class="flex justify-between text-sm mb-1">
                  <div>BPJS TK Employee</div>
                  <div> {{data.p_tk_jhtemployee | number}}</div>
              </div>
              <div class="flex justify-between text-sm mb-1">
                <div>BPJS TK - JKK Company</div>
                <div> {{data.p_tk_jkk | number}}</div>
            </div>
            <div class="flex justify-between text-sm mb-1">
                <div>BPJS KS Employee</div>
                <div> {{data.p_ks_employee | number}}</div>
            </div>
            <div class="flex justify-between text-sm mb-1" *ngIf="data?.otherdeduction!=0">
                <div>Others</div>
                <div> {{data.otherdeduction | number}}</div>
            </div>

          </div>
          <div class="flex justify-between text-lg font-medium mt-4">
              <div class="text-orange-500 font-bold">Takehomepay</div>
              <div class="text-orange-500 font-bold"> {{data.takehomepay | number}}</div>
          </div>   
          
          <!-- <div id="pdfTable" style="width: 773px; margin-left: 10px; margin-right: 10px; margin-top: 15px;">
            <div style="color: black; font-family: Arial; margin-left: 10px; margin-right: 20px;">
              <table style="width: 750px;font-size:11pt;font-family:arial;">
                <tr>
                  <td class="col-logo">
                     <img src="assets/logo.png" alt="Logo" class="w-20 h-20" />
                  </td>
                  <td colspan="2">
                    <b style="font-size: 18px; vertical-align:top;">CV. SINAR ANTAR BINTANG</b>
                  </td>        
                </tr>  
                <tr>
                  <td class="col-logo"></td>
                  <td class="col-logo" style="width: 20px;">
                    <img src="assets/location.png" class="icon-header">
                  </td>        
                  <td class="col-info-headerx">          
                    <span>Panjibuwono City, Ruko The Plaza AR No.1-2, Kelurahan Kedung Pengawas, Kecamatan Babelan, Kabupaten Bekasi, Jawa Barat</span>
                  </td>
                </tr> 
                <tr>
                  <td class="col-logo"></td>
                  <td class="col-logo" style="width: 20px;">
                    <img src="assets/telp.png" class="icon-header">
                  </td>   
                  <td class="col-info-header">          
                    <span style="margin-right: 120px;">+62 21 5692 6357</span>
                    <img src="assets/wa.png" class="icon-header">
                    <span style="margin-right: 30px;">+62 812 8727 9515</span>
                    <img src="assets/email.png" class="icon-header">
                    <span>admin@sinarantarbintang.co.id</span>
                  </td>
                </tr> 
                <tr>
                  <td class="col-logo"></td>
                  <td class="col-logo" style="width: 20px;">
                    <img src="assets/web.png" class="icon-header">
                  </td>   
                  <td class="col-info-header">          
                    <span style="margin-right: 20px;">www.sinarantarbintang.co.id</span>            
                  </td>
                </tr>
              </table>
            </div>
          </div> -->
          
          

        </div>



        <!--  -->
        <div class="bg-white rounded-lg shadow-md p-4 m-1 mb-2" *ngFor="let data of datathr">
          <div class="flex items-center justify-between mb-4">
              <div class="flex items-center">
                  <div>
                      <div class="ml-4 text-lg font-medium font-bold text-black-500"><b>THR - {{data.name}}</b></div>
                      <div class="flex items-center text-sm text-gray-500 ml-4">                        
                          <div class="flex items-center mr-4">                        
                              {{data.tdate}}
                          </div>
                          <div class="flex items-center mr-4">
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded" (click)="download(data)">
                                Download
                            </button>
                            <!-- <a #downloadLink [href]="pdfUrl2" download style="display: none;"></a> -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
          <div class="bg-gray-100 p-4 rounded-lg mb-4">
              <div class="text-lg font-medium mb-2"><b>Earnings</b></div>
              <div class="flex justify-between text-sm mb-1">
                  <div>THR</div>
                  <div> {{data.amount | number}}</div>
              </div>              
          </div>
          <div class="bg-gray-100 p-4 rounded-lg">
              <div class="text-lg font-medium mb-2"><b>Deductions</b></div>
              <div class="flex justify-between text-sm mb-1">
                  <div>PPh 21</div>
                  <div> {{data.pph21 | number}}</div>
              </div>
          </div>
          <div class="flex justify-between text-lg font-medium mt-4">
              <div class="text-orange-500 font-bold">Takehomepay THR</div>
              <div class="text-orange-500 font-bold"> {{data.takehomepay | number}}</div>
          </div>              
        </div>
  </div>
</ion-content>