<ion-header>
  <ion-toolbar class="blues-nav">
    <ion-row>
      <ion-col size="2" class="nav-back">
        <span class="custom-icon-back-arrow-icon" (click)="util.popBack()">
          <span class="path1"></span> <span class="path2"></span> </span>
      </ion-col>
      <ion-col size="10" class="nav-content">
        <ion-title>
          <span>Time Sheets</span>
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="background-content">
  <ion-list class="noti-list" *ngFor="let eachTask of timeSheets">
    <ion-item lines="none" (click)="details(eachTask)">
      <ion-label class="label label-md">
        <h4 class="holiday-title">{{eachTask.name}}</h4>
        <span class="holiday-days-div">
          <h2 class="holiday-title">{{eachTask.date}}</h2>
        </span>
        <div class="holiday-card">
          <h4 class="timesheet-project">{{eachTask.projectName}}</h4>
        </div>
        <div class="timesheet-hour-div">
          <h2 class="timesheet-hours">{{eachTask.hours}}</h2>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>