<ion-header>
  <ion-toolbar>
    <div class="modal-top"></div>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding modal-content">
  <div *ngIf="basicInformation">
    <h4 class="editprofile-title">Basic Informations</h4>
    <div class="inputList">
      <ion-list class="inputLabel">
        <ion-item detail class="inputItem">
          <ion-label class="addInput-Label" position="floating">Company Name</ion-label>
          <ion-input class="addInput" (keyup.enter)="moveFocus(b)" type="text" [(ngModel)]="client.company_name">
          </ion-input>
        </ion-item>
        <ion-item detail class="inputItem">
          <ion-label class="addInput-Label" position="floating">Company Email</ion-label>
          <ion-input class="addInput" #contactemail="ngModel" #b [(ngModel)]="client.company_email" type="text"
            pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" (keyup.enter)="moveFocus(c)" required>
          </ion-input>
        </ion-item>
        <div class="md-errors-spacer" [hidden]="contactemail.valid || contactemail.untouched">
          <div class="validation" *ngIf="contactemail.errors && contactemail.errors.pattern">
            Email is invalid
          </div>
        </div>
        <ion-item detail class="inputItem">
          <ion-label class="addInput-Label" position="floating">VAT</ion-label>
          <ion-input class="addInput" #c maxlength="15" [(ngModel)]="client.VAT"
            (keyup.enter)="moveFocus(d)" type="tel" required></ion-input>
        </ion-item>
        <ion-item detail class="inputItem">
          <ion-label class="addInput-Label" position="floating">Notes</ion-label>
          <ion-input class="addInput" #d  [(ngModel)]="client.notes" type="text">
          </ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand="block" type=" submit"
        [disabled]="contactemail.errors && contactemail.errors.pattern" class="loginButton" #e (click)="contact()"
        ion-button full>Next</ion-button>
    </div>
  </div>

  <div *ngIf="contactInformation">
    <h4 class="editprofile-title">Contact Informations</h4>
    <div class="inputList">
      <ion-list class="inputLabel">
        <ion-item detail class="inputItem">
          <ion-label class="addInput-Label" position="floating">Company Phone</ion-label>
          <ion-input class="addInput"  type="text" [(ngModel)]="client.company_phone">
          </ion-input>
        </ion-item>
        <!-- <ion-item detail class="inputItem">
          <ion-label class="addInput-Label" position="floating">{{ company_mobile}}</ion-label>
          <ion-input class="addInput" #contactnumber="ngModel" #b [(ngModel)]="client.company_mobile"
            (keyup.enter)="moveFocus(c)" pattern="[0-9]{10,15}" maxlength="15" required type="tel"></ion-input>
        </ion-item> -->
        <!-- <div class="md-errors-spacer" [hidden]="contactnumber.valid || contactnumber.untouched">
          <div class="validation" *ngIf="contactnumber.errors && contactnumber.errors.pattern">
            Phone is invalid
          </div>
        </div> -->
        <ion-item detail class="inputItem">
          <ion-label class="addInput-Label" position="floating">FAX</ion-label>
          <ion-input class="addInput" #c [(ngModel)]="client.company_fax" (keyup.enter)="moveFocus(e)" type="tel"
            required></ion-input>
        </ion-item>
        <ion-item detail class="inputItem">
          <ion-label class="addInput-Label" position="floating">Address</ion-label>
          <ion-input class="addInput" #e (keyup.enter)="moveFocus(f)" [(ngModel)]="client.company_address"
            type="text"></ion-input>
        </ion-item>
        <ion-item detail class="inputItem">
          <ion-label class="addInput-Label" position="floating">City</ion-label>
          <ion-input class="addInput" #f (keyup.enter)="moveFocus(g)" [(ngModel)]="client.city" type="text">
          </ion-input>
        </ion-item>
        <ion-item detail class="inputItem">
          <ion-label class="addInput-Label" position="floating">Zip code</ion-label>
          <ion-input class="addInput" #g (keyup.enter)="moveFocus(h)" [(ngModel)]="client.zip" type="number">
          </ion-input>
        </ion-item>
        <ion-item detail class="inputItem">
          <ion-label class="addInput-Label" position="floating">State</ion-label>
          <ion-input class="addInput" #h (keyup.enter)="moveFocus(i)" [(ngModel)]="client.state" type="text">
          </ion-input>
        </ion-item>
        <ion-item detail class="inputItem">
          <ion-label class="addInput-Label" position="floating">Country</ion-label>
          <ion-input class="addInput" #i [(ngModel)]="client.country" type="text"></ion-input>
        </ion-item>
      </ion-list>
      <ion-row>
        <ion-col>
          <ion-button expand="block" type="submit" class="backButton" (click)="basic()" ion-button full>Back
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" type="submit" class="loginButton"  (click)="web()" ion-button
          full>Next</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div *ngIf="webInformation">
    <h4 class="editprofile-title">Web Informations</h4>
    <div class="inputList">
      <ion-list class="inputLabel">
        <ion-item detail class="inputItem">
          <ion-label class="addInput-Label" position="floating">Website</ion-label>
          <ion-input class="addInput" (keyup.enter)="moveFocus(b)" [(ngModel)]="client.company_website" type="text">
          </ion-input>
        </ion-item>
        <ion-item detail class="inputItem">
          <ion-label class="addInput-Label" position="floating">LinkedIn</ion-label>
          <ion-input class="addInput" #b (keyup.enter)="moveFocus(c)" [(ngModel)]="client.linkedin" type="text">
          </ion-input>
        </ion-item>
        <ion-item detail class="inputItem">
          <ion-label class="addInput-Label" position="floating">Skype</ion-label>
          <ion-input class="addInput" #c (keyup.enter)="moveFocus(d)" [(ngModel)]="client.skype" type="text">
          </ion-input>
        </ion-item>
        <ion-item detail class="inputItem">
          <ion-label class="addInput-Label" position="floating">Facebook</ion-label>
          <ion-input class="addInput" #d (keyup.enter)="moveFocus(e)" [(ngModel)]="client.facebook" type="text">
          </ion-input>
        </ion-item>
        <ion-item detail class="inputItem">
          <ion-label class="addInput-Label" position="floating">Twitter</ion-label>
          <ion-input class="addInput" #e [(ngModel)]="client.twitter" type="text"></ion-input>
        </ion-item>
      </ion-list>
      <ion-row>
        <ion-col>
          <ion-button expand="block" type="submit" class="backButton" (click)="contactback()" ion-button full>Back
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" type="submit" class="loginButton"  (click)="bank()" ion-button
            full>Next</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div *ngIf="bankInformation">
    <h4 class="editprofile-title">Bank Informations</h4>
    <div class="inputList">
      <ion-list class="inputLabel">
        <ion-item detail class="inputItem">
          <ion-label class="addInput-Label" position="floating">Bank</ion-label>
          <ion-input class="addInput" (keyup.enter)="moveFocus(b)" type="text" [(ngModel)]="client.bank"></ion-input>
        </ion-item>
        <ion-item detail class="inputItem">
          <ion-label class="addInput-Label" position="floating">SWIFT/BIC</ion-label>
          <ion-input class="addInput" #b [(ngModel)]="client.bic" (keyup.enter)="moveFocus(c)" type="text" required>
          </ion-input>
        </ion-item>
        <ion-item detail class="inputItem">
          <ion-label class="addInput-Label" position="floating">Sort Code </ion-label>
          <ion-input class="addInput" #c maxlength="15" [(ngModel)]="client.sortcode" (keyup.enter)="moveFocus(d)"
            type="tel" required></ion-input>
        </ion-item>
        <ion-item detail class="inputItem">
          <ion-label class="addInput-Label" position="floating">Account Holder</ion-label>
          <ion-input class="addInput" #d (keyup.enter)="moveFocus(e)" [(ngModel)]="client.account_holder" type="text">
          </ion-input>
        </ion-item>
        <ion-item detail class="inputItem">
          <ion-label class="addInput-Label" position="floating">Account</ion-label>
          <ion-input class="addInput" #e (keyup.enter)="moveFocus(f)" [(ngModel)]="client.account" type="text">
          </ion-input>
        </ion-item>
        <ion-item detail class="inputItem">
          <ion-label class="addInput-Label" position="floating">IBAN</ion-label>
          <ion-input class="addInput" #f (keyup.enter)="moveFocus(f)" [(ngModel)]="client.iban" type="text"></ion-input>
        </ion-item>
      </ion-list>
      <ion-row>
        <ion-col>
          <ion-button expand="block" type="submit" class="backButton" (click)="webback()" ion-button full>Back
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" type="submit" class="loginButton" (click)="host()" ion-button
            full>Next</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div *ngIf="hostInformation">
    <h4 class="editprofile-title">Host Informations</h4>
    <div class="inputList">
      <ion-list class="inputLabel">
        <ion-item detail class="inputItem">
          <ion-label class="addInput-Label" position="floating">Hosting Company</ion-label>
          <ion-input class="addInput" type="text" [(ngModel)]="client.hosting_company">
          </ion-input>
        </ion-item>
        <ion-item detail class="inputItem">
          <ion-label class="addInput-Label" position="floating">Hosting</ion-label>
          <ion-input class="addInput" #b [(ngModel)]="client.hostname" (keyup.enter)="moveFocus(c)" type="text"
            required></ion-input>
        </ion-item>
        <ion-item detail class="inputItem">
          <ion-label class="addInput-Label" position="floating">Account Username</ion-label>
          <ion-input class="addInput" #c maxlength="15" [(ngModel)]="client.account_username"
            (keyup.enter)="moveFocus(d)" type="text" required></ion-input>
        </ion-item>
        <ion-item detail class="inputItem">
          <ion-label class="addInput-Label" position="floating">Port</ion-label>
          <ion-input class="addInput" #d  [(ngModel)]="client.port" type="text"></ion-input>
        </ion-item>
      </ion-list>
      <ion-row>
        <ion-col>
          <ion-button expand="block" type="submit" class="backButton" (click)="bankback()" ion-button full>Back
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" type="submit" class="loginButton" (click)="submit()"
            ion-button full>Submit</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>