.email-content-div {
   background: #fff;
    border-radius: 50px 50px 0px 0px;
    top: -50px;
    position: relative;
    width: 100%;
    padding: 30px 20px 0px;
}

.head-title {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.email-empty-div {
    background: #0A15D5;
    height: 120px;
}

.email .custom-icon-email-icon {
    font-size: 40px;
    color: white;
}

.email-item {
    --padding-start: 0;
    --detail-icon-color: rgb(254, 156, 69);
    --detail-icon-opacity: 1;
    --inner-padding-end: 0;
    padding: 4px;
}

.email-item img {
    width: 20px;
    margin: 0 auto;
    margin-right: 8px;
}

.all-label-list {
    border-top: solid 1px rgb(138, 137, 137);
    margin-top: 10px;

    ion-list-header {
        padding-inline-start: 0;
        color: #fe9c45;
        font-size: 18px;
        text-transform: uppercase;
    }
}

.inbox-count {
    border-radius: 50px;
    background: #FE9C45;
    color: white;
    padding: 0 15px;
    margin: 0;
    margin-right: 15px;
    box-shadow: -2px 4px 20px 5px #fe9c457d;
}

.spam-count {
    border-radius: 50px;
    background: rgba(252, 196, 147, 0.61);
    color: #FE9C45;
    padding: 0 15px;
    margin: 0;
    margin-right: 15px;
}