<ion-header>
  <ion-toolbar>
    <div class="modal-top"></div>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding modal-content">
  <ion-list>
    <ion-item class="inputItem" detail>
      <ion-label position="floating">DA (%)</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="inputItem" detail>
      <ion-label position="floating">HRA (%)</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>PROVIDENT FUND SETTINGS</ion-label>
    </ion-list-header>
    <ion-item class="inputItem" detail>
      <ion-label position="floating">Employee Share (%)</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="inputItem" detail>
      <ion-label position="floating">Organization Share (%)</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>ESI SETTINGS</ion-label>
    </ion-list-header>
    <ion-item class="inputItem" detail>
      <ion-label position="floating">Employee Share (%)</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="inputItem" detail>
      <ion-label position="floating">Organization Share (%)</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" class="loginButton" (click)="successAlert()">save </ion-button>
</ion-content>