<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Grocery - 3 This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar mode="ios"></ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="welcome-screen">
    <img src="assets/logo.png" alt="" class="img">
    <ion-label class="title">Sinar</ion-label>
    <!-- <ion-label class="sub-title">You can change after</ion-label> -->
    <!-- <div class="drop-down ion-activatable ripple-parent" (click)="openLanguage()">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label class="name">{{name}} </ion-label>
      <ion-icon name="chevron-down-outline" color="dark"></ion-icon>
    </div> -->

    <ion-button expand="block" fill="solid" color="dark" (click)="onAuth()">
      Login
    </ion-button>
  </div>
</ion-content>