<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" color="light">
    
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="dark">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Employees</ion-title>
    <ion-buttons slot="end" (click)="addData()" *ngIf="http.user.id_usergroup==1">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="home-screen">
    <!-- <ion-item>
      <ion-input type="text" placeholder="Cari..."></ion-input>
      <ion-button slot="end"> 
        (click)="performSearch()" [(ngModel)]="searchQuery"
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-item> -->

     <!-- <div class="w-full max-w-lg">
      <div class="flex items-center border border-gray-300 rounded-full shadow-md bg-white p-2">
       <input [(ngModel)]="search" (keydown.enter)="loadData()" class="flex-1 px-4 py-2 text-gray-700 focus:outline-none" placeholder="Search Data" type="text"/>
       <ion-icon (click)="loadData()" class="text-gray-500 text-xl mr-2" name="search-outline">
       </ion-icon>
      </div>
     </div> -->

     <!-- <div class="w-full max-w-lg">
      <div class="flex items-center border border-gray-300 rounded-full shadow-md bg-white p-1 h-10">
       <input [(ngModel)]="search" (keydown.enter)="loadData()" class="flex-1 px-2 py-1 text-gray-600 text-sm focus:outline-none" placeholder="Search Data" type="text"/>
       <ion-icon (click)="loadData()" class="text-gray-500 text-lg mr-2" name="search-outline">
       </ion-icon>
      </div>
     </div> -->

     <div class="flex items-center border border-gray-300 rounded-md shadow-md bg-white p-1 h-10 mb-1">       
      <input [(ngModel)]="search" (keydown.enter)="loadData()" class="flex-1 px-2 py-1 text-gray-600 text-sm focus:outline-none" placeholder="Search Data" type="text"/>
      <ion-icon (click)="loadData()" class="text-gray-500 text-lg mr-2" name="search-outline">
      </ion-icon>
     </div>

     <!-- && data.status_active==1 -->
     <!-- *ngIf="http.user.id_usergroup==1" -->
      <!-- *ngIf="http.user.id_usergroup==1" -->
     <ion-item-sliding *ngFor="let data of datas">
      <ion-item-options side="end">
        <ion-item-option color="warning" *ngIf="usergroupid==1">
          Upload Photo
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="start">
        <ion-item-option color="danger" *ngIf="usergroupid==1 && data.status_active==1" (click)="deleteData(data)">
          Delete
        </ion-item-option>
        <ion-item-option color="primary" *ngIf="usergroupid==1 && data.status_active==0" (click)="setActive(data)">
          Set Active
        </ion-item-option>
      </ion-item-options>
    
      <ion-item class="product-list-content rounded-md shadow-md mt-1 mb-1" (click)="editData(data.employee_id)">
        <div class="bg-white shadow-md rounded-lg p-4 flex items-center space-x-4 w-full max-w-md">
          <ion-col size="8" (click)="editData(data)">
            <div class="flex-1">
              <h2 class="text-lg font-bold">
               {{data.name}}
              </h2>
              <p class="text-sm text-gray-600">
                <span class="bg-green-100 text-green-700 text-xs font-semiboldrounded-full">
                  {{data.position?.name || ''}}
                </span>
                <span *ngIf="data.status_active==0" class="bg-red-100 text-red-700 text-xs font-semiboldrounded-full">
                  Non Active
                </span>
              </p>
              <p class="text-sm text-gray-600">
               {{data.nip}}
              </p>  
              <p class="text-sm text-gray-600">
                {{ data.company?.name || '' }}
               </p>    
               <p class="text-sm text-gray-600">
                Available Leave: {{ data.vleave?.availableleave || 0 }}
               </p>           
             </div>
          </ion-col>
         </div>      
      </ion-item>
    </ion-item-sliding>
  </div>
</ion-content>

